.validation-summary-errors {
    border: 2px dotted #a94442;
    background-color: #cc0e3d;
    border-radius: 8px;
}

    .validation-summary-errors ul {
        list-style-type: none;
        padding: 10px;
        color: #fff;
       
    }
